@media only screen and (max-width: 780px) {
    body {

        .container {
            
            /* reminder to try this in grid too */

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;

            color: black;
            font-family: 'Nunito Sans', sans-serif;

            margin-top: 100px;
            margin-bottom: 100px;


            .box {
                display: flex;
                flex-direction: column;

                margin-bottom: 100px;

                a {
                    text-decoration: none;
                    color: #8fc0a9;
                }

                .image-box {
                    height: 200px;

                    img {
                        display: block;
                        margin: 0 auto;
                        
                    }

                }

                .text-box {
                    text-align: left;
                    display: inline-block;
                    width: 50%;
                    margin-left: 25%;

                    .mono {
                        font-family: 'Inconsolata', monospace;
                    }

                }

            }
        }
    }
}


@media only screen and (min-width: 780px) {
    body {
        .container {
            display: flex;
            justify-content: center;
            align-items: stretch;
            width: 100%;

            color: black;
            font-family: 'Nunito Sans', sans-serif;

            margin-top: 100px;
            margin-bottom: 100px;

            .box {
                display: flex;
                flex-direction: column;
                
            
                

                width: 25%;
                

                a {
                    text-decoration: none;
                    color: #8fc0a9;
                }

                .image-box {
                    display: block;
                    text-align: center;
                    height: 200px;

                    img {
                        display: block;
                        margin: 0 auto;
                        
                    }

                }

                .text-box {
                    text-align: left;
                    display: block;
                    width: 50%;
                    margin-left: 25%;

                    .mono {
                        font-family: 'Inconsolata', monospace;
                        
                    }


                }

            }
        }
    }
}

